<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopApp</title>
</head>
<body style="background-color: rgb(192, 249, 192);">
    <div style="text-align: center;">
        <h1><b>Welcome to our World's biggest Shopping App</b></h1>
    </div>
    <div style="text-align: center;">
        <button style="text-align: center; font-size: large"><a href="/products" method="GET"><b>Have a visit its free</b></button>
    </div>
</body>
</html>